@charset "utf-8";

/* =========================
Buttons
========================= */
.c-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 12px 24px;
	font-size: 14px;
	border-radius: 8px;
	border: 1px solid #E5E5E5;
	background-color: #ffffff;
	transition: all 0.2s ease;
	cursor: pointer;
	&:hover {
		background-color: #f5f5f5;
	}
}


.c-btn--primary {
	color: #ffffff;
	border-color: #2563EB;
	background: #2563EB;
	&:hover {
		background-color: #1E4FD8;
	}
}


/* =========================
Card Component
========================= */
.c-card {
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    padding: 32px;
    background: #ffffff;
    transition: all 0.2s ease;
    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    }
    > div {
        margin-bottom: 12px;
        span {
            display: inline-block;
        }
        .owner {
            font-size: 18px;
            font-weight: 600;
        }
        .company {
            font-size: 14px;
            color: #777;
        }
    }
    p {
        font-size: 14px;
        color: #666666;
        &.position {
            color: #111;
        }
    }
}


/* =========================
Badge
========================= */
.c-badge {
    display: inline-block;
    background: #2563EB;
    color: #ffffff;
    font-size: 11px;
    padding: 4px 10px;
    border-radius: 999px;
    margin-bottom: 12px;
}

/* =========================
Code Block
========================= */
pre {
    background: #0F172A;
    color: #F8FAFC;
    padding: 24px;
    border-radius: 8px;
    font-size: 14px;
    overflow-x: auto;
}